// colors
$primary: #ff6b00; // bootstrap override

// fonts
$font-family-sans-serif: 'Mina', sans-serif; // bootstrap override

// z-indexes

$zIndex-background: 0;
$zIndex-normal: 100;
$zIndex-modal-popover-background: 400;
$zIndex-popover: 500;
$zIndex-modal: 600;

