<h4 class="mb-5">Inscrever-se para:</h4>

<div class="notificacao d-flex mb-2">
  <div class="col-auto notificacao__check">
    <input type="checkbox" class="custom-check" id="check1" hidden>
    <label for="check1"></label>
  </div>
  <div class="col notificacao__info">
    <p class="font-weight-bold mb-0">Emails de notícias</p>
    <p>Seja um dos primeiros a ficar sabendo sobre novos produtos</p>
  </div>
</div>

<div class="notificacao d-flex mb-2">
  <div class="col-auto notificacao__check">
    <input type="checkbox" class="custom-check" id="check2" hidden>
    <label for="check2"></label>
  </div>
  <div class="col notificacao__info">
    <p class="font-weight-bold mb-0">Emails de lembrete</p>
    <p>Fique a par das notícias que você pode ter deixado passar.</p>
  </div>
</div>

<div class="notificacao d-flex mb-2">
  <div class="col-auto notificacao__check">
    <input type="checkbox" class="custom-check" id="check3" hidden>
    <label for="check3"></label>
  </div>
  <div class="col notificacao__info">
    <p class="font-weight-bold mb-0">Emails sobre produtos</p>
    <p>Obtenha dicas de uso das ferramentas do Instagram</p>
  </div>
</div>

<div class="notificacao d-flex mb-2">
  <div class="col-auto notificacao__check">
    <input type="checkbox" class="custom-check" id="check4" hidden>
    <label for="check4"></label>
  </div>
  <div class="col notificacao__info">
    <p class="font-weight-bold mb-0">Emails sobre pesquisas</p>
    <p>Forneça feedback e participe de estudos de pesquisa</p>
  </div>
</div>

<div class="notificacao d-flex mb-2">
  <div class="col-auto notificacao__check">
    <input type="checkbox" class="custom-check" id="check5" hidden>
    <label for="check5"></label>
  </div>
  <div class="col notificacao__info">
    <p class="font-weight-bold mb-0">Mensagens de text (SMS)</p>
    <p>Receba notificações de lembrete enviadas por mensagem de texto.</p>
  </div>
</div>
