@import './../../../assets/scss/variables';

.popover-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(#000, 0.75);

  z-index: $zIndex-popover - 1;
}

.navbar {
  margin-top: 30px;
  background-color: #111;
  padding: 15px 0;
  font-size: 0.9rem;
}

.navbar-brand {
  img {
    width: 180px;

    @media screen and (min-width: 768px) {
      width: 290px;
    }
  }
}

.nav-item {
  position: relative;
  margin-right: 15px;
}

.nav-link {
  position: relative;
  .nav-link-img-active { display: none; }

  &.active {
    .nav-link-img { display: none; }
    .nav-link-img-active { display: inline-block; }
  }
}

.notificacoes-qtd {
  width: 15px;
  height: 15px;
  font-size: 10px;
  background-color: $primary;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  right: 7px;
  text-align: center;
  line-height: 16px;
}

.showPopover {
  z-index: $zIndex-popover;
}

.popover {
  position: absolute;
  top: calc(100% + 23px);
  right: 100px;
  left: auto;
  z-index: $zIndex-popover;
  background-color: transparent;
}
