<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" [routerLink]="'/dashboard'">
      <img src="assets/imgs/logo.png" alt="">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="'feed'" [routerLinkActive]="'active'">
            <img src="assets/imgs/header/home.png" class="nav-link-img" alt="">
            <img src="assets/imgs/header/home-active.png" class="nav-link-img-active" alt="">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'busca'" [routerLinkActive]="'active'">
            <img src="assets/imgs/header/buscar.png" class="nav-link-img" alt="">
            <img src="assets/imgs/header/buscar-active.png" class="nav-link-img-active" alt="">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'calendario'" [routerLinkActive]="'active'">
            <img src="assets/imgs/header/calendario.png" class="nav-link-img" alt="">
            <img src="assets/imgs/header/calendario-active.png" class="nav-link-img-active" alt="">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <img src="assets/imgs/header/notificacao.png" class="nav-link-img" alt="">
            <img src="assets/imgs/header/notificacao-active.png" class="nav-link-img-active" alt="">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'configuracoes'" [routerLinkActive]="'active'">
            <img src="assets/imgs/header/menu.png" alt="">
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
