.navbar {
  margin-top: 30px;
  background-color: #111;
  padding: 15px 0;
}

.navbar-brand {
  img {
    width: 180px;

    @media screen and (min-width: 768px) {
      width: 290px;
    }
  }
}

.nav-item {
  margin-right: 15px;
}

.nav-link {
  .nav-link-img-active { display: none; }

  &.active {
    .nav-link-img { display: none; }
    .nav-link-img-active { display: inline-block; }
  }
}

.notificacoes {
  position: relative;
}
