<div class="wrapper">
  <app-perfil-header></app-perfil-header>

  <div class="content">
    <div class="container">

      <div class="d-flex align-items-center justify-content-center py-5">
        <div class="d-flex align-items-center message">
          <div>
            <img src="assets/imgs/perfil/cadiado.png" alt="">
          </div>

          <div class="ml-3">
            <h4 class="font-weight-bold">PRIVATE ACCOUNT</h4>
            <p class="font-weight-bold mb-0">Follow this account to see your photos and videos</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
