@import "./../../../../../assets/scss/variables";

.mes {
  position: relative;
  display: block;
  text-align: center;
  background-color: $primary;
  color: #fff;
  width: 100%;
  font-size: 1.4rem;
  font-weight: bold;
  padding: 9px 20px;
  margin: 10px 0 50px;
  border-radius: 10px;

  img {
    position: absolute;
    right: 40px;
    top: 15px;
  }
}

.mes:focus {
  outline: 0;
}

.dia-semana {
  font-weight: normal;
}

.dia {
  padding: 15px 0;

  span {
    font-weight: bold;
  }

  .video {
    position: relative;
    margin: 10px auto 0;
    border-radius: 10px;
    border: 1px solid #707070;
    width: 50px;
    height: 50px;

    @media screen and (min-width: 600px) {
      width: 80px;
      height: 80px;
    }

    @media screen and (min-width: 768px) {
      width: 100px;
      height: 100px;
    }

    &:after {
      content: "";
      position: absolute;
      left: -1px;
      bottom: -1px;
      width: 8px;
      height: 14px;
      background-color: #fff;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  &.has-video {
    span {
      color: $primary;
    }

    .video {
      cursor: pointer;
    }

    .video:after {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: auto;
      height: auto;
      background: none;
      background-image: url(/assets/imgs/calendario/play.png);
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
}
