<div class="wrapper">
  <div class="content">
    <div class="container">

      <div class="search d-flex">
        <input type="text" class="flex-grow-1" placeholder="Search...">
        <button><img src="assets/imgs/busca/buscar.png" alt=""></button>
      </div>

      <div class="results row">
        <div class="col-sm-4">
          <div class="result" *ngFor="let video of [1,2,3,4]">
            <app-player></app-player>
          </div>
        </div>

        <div class="col-sm-8">
          <div class="result result-lg" *ngFor="let video of [1,2]">
            <app-player class="lg"></app-player>
        </div>
      </div>
    </div>
  </div>
</div>
