<div class="wrapper">
  <div class="content">
    <div class="container">

      <div class="search d-flex">
        <input type="text" class="flex-grow-1" placeholder="Search...">
        <button><img src="https://picsum.photos/40/40" alt=""></button>
      </div>

      <div class="results row">
        <div class="col-sm-4">
          <div class="result">
            <img src="https://picsum.photos/40/40" alt="">
          </div>
          <div class="result">
            <img src="https://picsum.photos/40/40" alt="">
          </div>
          <div class="result">
            <img src="https://picsum.photos/40/40" alt="">
          </div>
          <div class="result">
            <img src="https://picsum.photos/40/40" alt="">
          </div>
        </div>

        <div class="col-sm-8">
          <div class="result">
            <img src="https://picsum.photos/40/40" alt="">
          </div>
          <div class="result">
            <img src="https://picsum.photos/40/40" alt="">
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
