@import './../../../../assets/scss/variables';

.nav-notificacoes {
  position: relative;
  width: 500px;
  border-radius: 10px;
  background-color: #fff;

  &:after {
    content: "";
    position: absolute;
    top: -20px;
    right: 132px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15.5px 20px 15.5px;
    border-color: transparent transparent #ccc transparent;
  }
}

.pedido-seguir {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #ccc;
}

button {
  border-radius: 10px;
  padding: 2px 17px;
  line-height: 1.6;
}

.notificacoes-wrapper {
  overflow: hidden;
  max-height: 400px;
  padding: 0 20px;
}

.notificacoes {
  max-height: 400px;
  margin: 0 -40px;
  padding: 0 40px;
  overflow-x: scroll;
}

.notificacoes-dia > p {
  border-bottom: 1px solid rgba(0,0,0,0.3);
}

.notificacao {
  border-right: 7px solid transparent;
  border-bottom: 1px solid rgba(0,0,0,0.3);
  margin: 0;
  padding: 10px 15px;

  a {
    font-weight: bold;
  }

  &:hover {
    border-right-color: $primary;
  }
}
