<!-- <div class="notificacoes-background"></div> -->

<div class="notificacoes-wrapper">
  <div class="pedido-seguir">
    <div class="pedido d-flex">
      <img src="assets/imgs/header/notificacoes/mulher-2.png" alt="">

      <div class="flex-grow-1">
        <h5 class="text-primary">REQUEST TO FOLLOW</h5>
        <p>Aprove or ignore as solicitações.</p>
      </div>

      <button class="btn btn-primary btn-xs">Visualizar</button>
    </div>
  </div>

  <div class="notificacoes">
    <div class="notificacoes-dia">
      <h5 class="text-primary">TODAY</h5>

      <div class="notificacao d-flex">
        <img src="assets/imgs/header/notificacoes/mulher-2.png" alt="">

        <p class="flex-grow-1">
          <a href="">@BrunoRodriguez</a>,
          <a href="">@CarolRennier</a> e
          <a href="">outras 24 pessoas</a> liked your video.
        </p>
      </div>

      <div class="notificacao d-flex">
        <img src="assets/imgs/header/notificacoes/homem-3.png" alt="">

        <p class="flex-grow-1">
          <a href="">@CarlosPereira</a> commented your video.
        </p>
      </div>

      <div class="notificacao d-flex">
        <img src="assets/imgs/header/notificacoes/mulher-2.png" alt="">

        <p class="flex-grow-1">
          <a href="">@CarolReinner</a> commented your video.
        </p>
      </div>

      <div class="notificacao d-flex">
        <img src="assets/imgs/header/notificacoes/homem-2.png" alt="">

        <p class="flex-grow-1">
          <a href="">@DanielFontana</a> commented your video.
        </p>
      </div>

      <h5 class="text-primary">MARCH 28, 2018</h5>

      <div class="notificacao d-flex">
        <img src="assets/imgs/header/notificacoes/mulher-2.png" alt="">

        <p class="flex-grow-1">
          <a href="">@DanielSilva</a> commented your video.
        </p>
      </div>
    </div>
  </div>
</div>
