<!-- <div class="notificacoes-background"></div> -->

<div class="nav-notificacoes">
  <div class="pedido-seguir">
    <div class="pedido d-flex align-items-center p-4">
      <div>
        <img src="assets/imgs/header/notificacoes/mulher-2.png" alt="">
      </div>

      <div class="flex-grow-1 d-flex flex-column justify-content-center p-3">
        <p class="font-weight-bold text-primary mb-0">REQUEST TO FOLLOW</p>
        <p class="font-weight-bold mb-0">Aprove or ignore as solicitações.</p>
      </div>

      <div>
        <button class="btn btn-primary btn-sm" (click)="openModalSolicitacoes()">Visualizar</button>
      </div>
    </div>
  </div>

  <div class="notificacoes-wrapper">
    <div class="notificacoes px-3">
      <div class="notificacoes-dia">
        <p class="text-primary font-weight-bold mb-0 py-3 text-center">TODAY</p>

        <div class="notificacao d-flex">
          <div>
            <img src="assets/imgs/header/notificacoes/mulher-2.png" alt="">
          </div>

          <div class="flex-grow-1 align-items-center p-3">
            <p class="mb-0">
              <a href="">@BrunoRodriguez</a>,
              <a href="">@CarolRennier</a> e
              <a href="">outras 24 pessoas</a> liked your video.
            </p>
          </div>
        </div>

        <div class="notificacao d-flex">
          <div>
            <img src="assets/imgs/header/notificacoes/homem-3.png" alt="">
          </div>

          <div class="flex-grow-1 align-items-center p-3">
            <p class="mb-0">
              <a href="">@CarlosPereira</a> commented your video.
            </p>
          </div>
        </div>

        <div class="notificacao d-flex">
          <div>
            <img src="assets/imgs/header/notificacoes/mulher-2.png" alt="">
          </div>

          <div class="flex-grow-1 align-items-center p-3">
            <p class="mb-0">
              <a href="">@CarolReinner</a> commented your video.
            </p>
          </div>
        </div>

        <div class="notificacao d-flex">
          <div>
            <img src="assets/imgs/header/notificacoes/homem-2.png" alt="">
          </div>

          <div class="flex-grow-1 align-items-center p-3">
            <p class="mb-0">
              <a href="">@DanielFontana</a> commented your video.
            </p>
          </div>
        </div>
      </div>

      <div class="notificacoes-dia">
        <p class="text-primary font-weight-bold mb-0 py-3 text-center">
          MARCH 28, 2018
        </p>

        <div class="notificacao d-flex">
          <div>
            <img src="assets/imgs/header/notificacoes/mulher-2.png" alt="">
          </div>

          <div class="flex-grow-1 align-items-center p-3">
            <p class="mb-0">
              <a href="">@DanielSilva</a> commented your video.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
