.aceitar-seguidores__header {
  position: relative;
  color: #fff;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: 0;
}

button {
  border-radius: 10px;
  padding: 2px 17px;
  line-height: 1.6;
}
