<div class="aceitar-seguidores">
  <div class="aceitar-seguidores__header d-flex bg-primary p-4">
    <button class="close-modal" (click)="modal.close()">
      <img src="assets/imgs/header/aceitar-seguidores/x.png" alt="">
    </button>

    <div class="flex-grow-1 d-flex align-items-center justify-content-center">
      <img src="assets/imgs/header/aceitar-seguidores/notification.png" alt="">
      <p class="ml-2 mb-0">Notifications</p>
    </div>
  </div>

  <p class="text-primary mb-0 py-4 text-center font-weight-bold">REQUEST TO FOLLOW</p>

  <div class="solicitacoes-wrapper">
    <div class="solicitacoes">
      <div class="solicitacao d-flex" *ngFor="let solicitacao of solicitacoes">
        <div>
          <img [src]="'assets/imgs/header/aceitar-seguidores/foto' + solicitacao.img + '.png'" alt="">
        </div>

        <div class="flex-grow-1 px-3 py-2">
          <p class="mb-0 text-primary font-weight-bold">@{{ solicitacao.instagram }}</p>
          <p class="mb-0">{{ solicitacao.name }}</p>
        </div>

        <div class="d-flex justify-content-center align-items-center">
          <button class="btn btn-sm btn-primary">Accept</button>
          <button class="btn btn-sm btn-outline-primary ml-2">Exclude</button>
        </div>
      </div>
    </div>
  </div>
</div>
