:host .video {
  position: relative;

  > img {
    width: 100%;
    height: auto;
    background-color: #ccc;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(/assets/imgs/busca/play.png);
    background-position: center center;
    background-repeat: no-repeat;
  }
}

:host.lg .video {
  &:after {
    background-image: url(/assets/imgs/busca/play_lg.png);
  }
}

.controls {
  position: absolute;
  bottom: 20px;
  left: 30px;
  right: 30px;
  color: #fff;

  > div {
    padding: 0 10px;
  }
}

.progresso {
  position: relative;

  img:first-child {
    position: absolute;
    top: 0;
    left: 0;
  }

  img:last-child {
    width: 100%;
  }
}
