:host .video {
  position: relative;

  img {
    width: 100%;
    max-height: 210px;
    background-color: #ccc;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(/assets/imgs/busca/play.png);
    background-position: center center;
    background-repeat: no-repeat;
  }
}

:host.lg .video {
  img {
    max-height: 600px;
  }

  &:after {
    background-image: url(/assets/imgs/busca/play_lg.png);
  }
}
