<div class="video">
  <img src="assets/imgs/busca/video_background.png" alt="">

  <div class="controls d-flex align-items-center justify-content-center" *ngIf="showControls">
    <div class="play">
      <img src="assets/imgs/player/play.png" alt="">
    </div>
    <div class="progresso flex-grow-1">
      <img src="assets/imgs/player/progresso-circulo.png" alt="">
      <img src="assets/imgs/player/progresso-linha.png" alt="">
    </div>
    <div class="tempo">
      00:00
    </div>
    <div class="volume">
      <img src="assets/imgs/player/volume.png" alt="">
    </div>
    <div class="full">
      <img src="assets/imgs/player/full.png" alt="">
    </div>
  </div>
</div>
