<div class="privacidade">
  <h4 class="mb-4">Privacidade da conta</h4>

  <div class="d-flex mb-2">
    <div class="col-auto privacidade__check">
      <input type="checkbox" class="custom-check" id="check1" hidden>
      <label for="check1"></label>
    </div>
    <div class="col privacidade__info">
      <p class="font-weight-bold mb-0">Conta privada</p>
      <p>Quando sua conta é privada, somente as pessoas que você aprova podem ver suas foros e vídeos no Instagram. Seus seguidores
        existentes não serão afetados.</p>
    </div>
  </div>
</div>

<hr>

<div class="privacidade">
  <h4 class="mb-4">Status da atividade</h4>

  <div class="d-flex mb-2">
    <div class="col-auto privacidade__check">
      <input type="checkbox" class="custom-check" id="check2" hidden>
      <label for="check2"></label>
    </div>
    <div class="col privacidade__info">
      <p class="font-weight-bold mb-0">Mostrar status da atividade</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa porro dolore saepe rerum fugit. Itaque reiciendis vitae
        aliquam mollitia unde a, aliquid quibusdam hic error cum sed, quae laudantium fugit.</p>
    </div>
  </div>
</div>

<hr>

<div class="privacidade">
  <h4 class="mb-4">Comentários</h4>
  <a class="font-weight-bold" href="">Editar configurações de comentários</a>
</div>

<hr>

<div class="privacidade">
  <h4 class="mb-4">Dados da conta</h4>
  <a class="font-weight-bold" href="">Ativar autenticação de dois fatores</a>
</div>
