.calendario-modal {
  position: relative;
}

.modal-close {
  position: absolute;
  top: 20px;
  right: 20px;
  border: 0;
  background: none;
  z-index: 600;
  cursor: pointer;
}

.calendario-modal__footer {
  padding: 10px 15px;

  p {
    font-size: 0.8rem;
    font-weight: bold;
  }
}


