@import './../../../../../assets/scss/_variables';

.item {
  position: relative;
  margin: 17px 0;
  border-top: 1px solid #222;
  padding: 17px 0;
}

.item-date {
  position: absolute;
  right: 15px;
  top: 0;
}

.item-video img {
  display: inline-block;
  width: 100%;
  height: 550px;
  background-color: #ccc;
}

.profile-img {
  display: inline-block;
  width: 85px;
  height: 85px;
  background-color: #ccc;
}

.name {
  font-size: 1.2rem;
  font-weight: bold;
  color: $primary;
}

.item-share {
  padding: 20px 0;
  border-top: 1px solid rgba(#222, 0.6);
  border-bottom: 1px solid rgba(#222, 0.6);

  button {
    background-color: transparent;
    border: none;
    margin-right: 10px;
  }
}

.item-share__views {
  button {
    margin-right: 0;
  }
}

.item-comments {
  position: relative;
  padding: 15px 0;
  min-height: 200px;

  .comments {
    position: absolute;
    overflow: scroll;
    top: 20px;
    bottom: 20px;
    left: 0;
    right: 0;
    padding: 20px 0;
  }
}

.item-add-comment {
  padding: 20px 0;

  input {
    border: 0;
  }
}
