<div class="container">
  <div class="profile row">
    <div class="col d-flex align-items-end">
      <img [src]="profile.picture" class="rounded" alt="">

      <div class="profile-info d-flex flex-column justify-content-end flex-grow-1">
        <p class="mb-0 name">{{ profile.name }}</p>
        <p class="mb-0 instagram">@{{ profile.instagram }}</p>
      </div>
    </div>

    <div class="col-auto d-flex flex-column mt-4 mt-sm-0">
      <button class="btn btn-sm btn-outline-light" (click)="open('Followers')">Followers</button>
      <button class="btn btn-sm btn-outline-light my-1" (click)="open('Following')">Following</button>
      <button class="btn btn-sm btn-outline-primary">EDIT PROFILE</button>
    </div>
  </div>
</div>


