@import './../../../../../assets/scss/variables';

.menu-settings {
  list-style: none;
  padding: 0;
  border-right: 1px solid;
  margin-right: 15px;
  height: 100%;

  a {
    display: inline-block;
    color: inherit;
    width: 100%;
    text-decoration: none;
    padding: 20px 15px 20px 40px;
    border-left: 4px solid transparent;
    cursor: pointer;

    &:hover,
    &.active {
      border-color: $primary-color;
      font-weight: bold;
    }
  }
}
