<ul class="menu-settings">
  <li class="menu-settings__item">
    <a [routerLink]="'editar-perfil'">
      Editar Pefil
    </a>
  </li>
  <li class="menu-settings__item">
    <a [routerLink]="'alterar-senha'">
      Alterar Senha
    </a>
  </li>
  <li class="menu-settings__item">
    <a [routerLink]="'notificacoes'">
      Notificações
    </a>
  </li>
  <li class="menu-settings__item">
    <a [routerLink]="'privacidade-seguranca'">
      Privacidade e segurança
    </a>
  </li>
  <li class="menu-settings__item">
    Sair
  </li>
</ul>
